* {
  box-sizing: border-box;
}

.title{
  text-transform: uppercase;
}

* {
  font-family: 'Markazi Text';
  font-weight: 400;
}

@supports (font-variation-settings: "wght" 450) {
  * {
    font-family: 'Markazi Text';
    font-weight: 450;
  }
}
body {
  margin:0;
  height: 200vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Markazi Text', sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#555;
  background: #ecf0f3;
}
.login-div {
  width:430px;
  height: 700px;
  padding: 60px 35px 35px 35px;
  border-radius: 40px;
  background: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1,
              /* -13px -13px 20px #ffffff; */
}
.logo {
  /* background:url("/img/logo_Ztv_edited.jpg"); */
  width:70px;
  height: 100px;
  background-size:contain;
  background-clip:content-box;
  /* border-radius: 50%; */
  margin:0 auto;
  box-shadow: 
  /* logo shadow */
  0px 0px 2px #5f5f5f,
  /* offset */
  0px 0px 0px 5px #ecf0f3,
  /*bottom right */
  8px 8px 15px #a7aaaf,
  /* top left */
  -8px -8px 15px #ffffff
  ;
}
.title {
  text-align: center;
  font-size: 28px;
  padding-top: 24px;
  letter-spacing: 0.5px;
}
.sub-title {
  text-align: center;
  font-size: 15px;
  padding-top: 7px;
  letter-spacing: 3px;
}
.fields {
  width: 100%;
  padding: 75px 5px 5px 5px;
}
.fields input {
  border: none;
  outline:none;
  background: none;
  font-size: 18px;
  color: #555;
  padding:20px 10px 20px 5px;
}
.username, .password, .Message, .pin {
  margin-bottom: 30px;
  border-radius: 25px;
  padding-left: 50px;
  /* display: flex;
  margin: auto;  */
  box-shadow: inset 8px 8px 8px #cbced1,
              inset -8px -8px 8px #ffffff;
              
}
.fields svg {
  height: 22px;
  margin:0 10px -3px 25px;
}
.signin-button {
  
  outline: none;
  border:none;
  cursor: pointer;
  width:100%;
  height: 60px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color:#fff;
  text-align: center;
  background: #24cfaa;
  box-shadow: 3px 3px 8px #b1b1b1,
              -3px -3px 8px #ffffff;
  transition: 0.5s;
}
.signin-button:hover {
  background:#2fdbb6;
}
.signin-button:active {
  background:#1da88a;
}
.link {
  padding-top: 20px;
  text-align: center;
}
.link a {
  text-decoration: none;
  color:#aaa;
  font-size: 15px;
}
Form {
  border-radius:  25px;
  background-color: #a7aaaf;
  
  /* font-size: 1em; */
  color: black;
}
/* #random{
  width: 100%;
  height: 450px;
  border: 1px solid black;
  background-image: url('http://placehold.it/300&text=banner1');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;  
} */


html { 
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
}
body {
    background-size: cover; 
    height: 100%;

}

body::after {
  content: "";
  height: 2px;
  position: fixed;
  top: calc(50% -1px);
  left: 0;
  right: 0;
  background-color: red;
  z-index : 10;
}
.Icon01{
display: flex;
/* justify-self:flex-start; */
width: 100px;
height: 100px;
top: calc(50% -1px);
left: calc(50% -1px);
z-index : 9;
}