/* * {
  box-sizing: border-box;
} */



* {
  font-family: 'Markazi Text';
  font-weight: 400;
}

@supports (font-variation-settings: "wght" 450) {
  * {
    font-family: 'Markazi Text';
    font-weight: 450;
  }
}
body {
  
  margin: 50px;
  /* height: 200vh; */
  width: 100vw;
  /* overflow: hidden; */
  font-family: 'Markazi Text', sans-serif;
  font-weight: 700;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  color:#555;
  /* background: #ecf0f3; */
  background-size: cover; 
  height: 100%;
  transition: background-image 4s;
  background:#fff url(../img/BG04.jpg) no-repeat center center fixed ;
}

.login-div {
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:380px; 
  padding: 60px 35px 35px 35px;
  border-radius: 40px;
  margin: auto;
  background: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1,
              /* -13px -13px 20px #ffffff; */
}
.logo {
  transition-duration: 1s;
  transform: rotate3d(1, 1, 1, 360deg) translate3d(0px,0px, 100px)scale3d(1.2, 1.2, 1.2);
  display: flex;
  margin: auto;
  box-sizing:border-box;
  background:url("img/logo_Ztv_edited.jpg");  
  width: 50px; 
  height: 70px;  
}
.container, .actionWindows {
  width: 100%;
  height: 100%;
  padding: 75px 5px 5px 5px;
}
.container input {
  border: none;
  outline:none;
  background: none;
  font-size: 18px;
  color: #555;
  padding:20px 10px 20px 5px;
}
.username, .mail{
  margin-bottom: 30px;
  border-radius: 25px;
  padding-left: 50px;
  /* display: flex;
  margin: auto;  */
  box-shadow: inset 8px 8px 8px #cbced1,
              inset -8px -8px 8px #ffffff;
              
}
 /* .message, .sujet{
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 450px;
  box-shadow:  8px 8px 8px #cbced1,
} */
.container svg {
  height: 22px;
  margin:0 10px -3px 25px;
}
.fileButton, .sendButton { 
  outline: none;
  border:none;
  cursor: pointer; 
  width:100%;
  height: 60px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color:#fff;
  background: #24cfaa;
  box-shadow: 3px 3px 8px #b1b1b1,
              -3px -3px 8px #ffffff;
  transition: 0.8s ; 
  text-indent: 1rem;
}


.fileButton {
  padding-top: 2rem; 


 
}



.fileButton:hover {
  background:#2fdb2f;
}
.fileButton:active {
  background:#1da88a;
}
.sendButton:hover {
  background:#2fdb2f;
}
.sendButton:active {
  background:#a89f1d;
}

Form {
  margin-top: -90px;
  /* margin-left: 0px;
  margin-right: 30px; */
  /* content: ""; */
  /* position:inherit;*/
  display: flex; 
  border-radius:  25px;
  background-color: #a7aaaf;
  justify-self: center;
  flex-direction: column;
  padding: 1rem;
  /* font-size: 1em; */
  /* color: black; */
}

.subject[type=text]{
  font-size: 1rem;
  text-indent: 0.5rem;
  border-radius: 15px;
  height: 20px;
  width: 98%;
  top :0px;
  box-shadow: inset 8px 8px 8px #cbced1,
  inset -8px -8px 8px #ffffff;
}
.ChampContent{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
}
.canvas{
  /* opacity:0.5; */
  display: flex; 
  overflow: visible;
  border-radius: 15px;
  width: 50%;
  height: 21vh;
  box-shadow: inset 8px 8px 8px #cbced1,
  inset -8px -8px 8px #ffffff;  
  /* background: no-repeat;
  background-attachment: scroll; */
  background-color: #cbced1;
  background:url("img/BG03.jpg"); 
  
}
#content{
  display: flex; 
  overflow: visible;
  word-wrap: break-word;
  border-radius: 15px;
  width: 50%;
  height: 20vh;
  box-shadow: inset 8px 8px 8px #cbced1,
  inset -8px -8px 8px #ffffff; 
  font-size: 1rem;
  text-indent: 0.5rem;
   /* resize: vertical;  */
  resize: none;
}
.message[type=text]{
  display: flex; 
  overflow: visible;
  word-wrap: break-word;
  border-radius: 15px;
  width: 98%;
  height: 20vh;
  box-shadow: inset 8px 8px 8px #cbced1,
  inset -8px -8px 8px #ffffff; 
  font-size: 1rem;
  text-indent: 0.5rem;
  resize: vertical;
} 
.inputfile-3 + label {
  display: flex;
  color: #d3394c;
  margin: auto;
  
}

.inputfile-3:focus + label,
.inputfile-3.has-focus + label,
.inputfile-3 + label:hover {
  color: #722040;
}
/* .fileButton{

  width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
} */
#svginput{
  cursor: pointer;
  display: flex;
  margin: auto;
}
.p{
  display: flex;
  margin: auto;
  justify-self:flex-end;
}
